/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2014, 5:01:33 PM
    Author     : Smithers
*/
.cover{
    visibility: hidden;
    background-color: black;
    color:white;
    height:500px;
    width:300px;
    word-wrap: break-word
}

.profilepicture{
   height:64px;
   width:64px; 
}
#profileContainer{
    background-color: red;
}
