/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2014, 3:14:03 PM
    Author     : Smithers
*/

.businessCard{
    width: 200px;
    height: 300px;
    float: left;
    border: 5px;
    border-style: groove;
    padding:5px;
}
.panel-heading{
    background-color:gray;
    font-weight: bold;
}

body {
    background: #000000;
    color: #999;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    margin: 3em;
}

.body_m {
    background: #999;
}

.social {
    padding-left: 30px;
    color: #20d8b8;
    text-decoration: none;
    font-size: 30px;
}

.social:hover {
    color: #fff;
}

img {
    border-radius: 50%;
    height: 100px;

}

.sub {
    bottom: 0px;
    width: 100%;
    position: absolute;
    background: #ff0000;
    height: 40px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
}

#titulo {
    font-size: 30px;
    color:white;
}



h2 {
    margin-bottom: 0;
}

h3 {
    color: #f6b3a4;
    margin-top: .5em;
    font-weight: normal;
}

.flip-container {
    //margin: 0 auto;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    margin:5px;
}

.flip-container:hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flipper {
    background: #fff;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;   
}

.front {
    text-align: center;
    padding-top: 30px;
    background: #ff0000;
    z-index: 1;

}

.front p{
    color:white;
}

.flip-container, .front, .back {
    float:left;
    width: 250px;
    height: 300px;
}

.back {
    background: #ff0000;
    padding-top: 30px;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
}

.back p {
    margin-left: 30px;
    color: white;
    font-weight: 300;
}

/*blur*/

.blurry {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transform: translateY(0px) translate3d(0,0,0);
}

p{
    font-size: 15px;
}